@font-face {
  font-family: "Shabnam";
  src: url(../fonts/Shabnam-Bold.ttf) format("ttf"), url(../fonts/Shabnam-Bold.woff) format("woff");
}
.hamburgur {
  width: 32px;
  height: 22px;
  cursor: pointer;
}
.hamburgur-line {
  margin: 7px;
  height: 3px;
  background-color: #00a680;
  transform-origin: right;
  transition: all ease-in-out 0.3s;
}

.btn-orange {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.btn-green {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.carousel-item {
  transition: all 0.5s;
  direction: rtl;
}
.carousel-item .texts .title {
  color: #00a680;
  font-size: 30px;
  margin-bottom: 24px;
}
.carousel-item .texts .title .better {
  border-bottom: 3px solid #00a680;
}
.carousel-item .texts .paragraph {
  font-size: 16px;
}
.carousel-item .image {
  height: 350px;
  max-width: 838px;
}
@media (max-width: 359px) {
  .carousel-item .image {
    height: 320px;
  }
}
@media (min-width: 450px) {
  .carousel-item .image {
    height: 400px;
  }
}
@media (min-width: 550px) {
  .carousel-item .image {
    height: 500px;
  }
}
@media (min-width: 650px) {
  .carousel-item .image {
    height: 550px;
  }
}
@media (min-width: 768px) {
  .carousel-item .image {
    height: 400px;
  }
}
.carousel-item .image1 {
  background-image: url(../images/slide1.png);
  background-size: cover;
  background-position: top center;
}
.carousel-item .image2 {
  background-image: url(../images/slide2.png);
  background-size: cover;
  background-position: top center;
}
.carousel-item .image3 {
  background-image: url(../images/slide3.png);
  background-size: cover;
  background-position: top center;
}

.carousel-indicators {
  display: flex;
  align-items: center;
}
.carousel-indicators li {
  padding: 0;
  margin: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bdbdbd;
  transition: all 0.35s;
}
.carousel-indicators li.active {
  border: none;
  width: 24px;
  height: 12px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.container-fluid {
  font-family: "Shabnam", sans-serif;
  padding-left: 0;
}

.nav-row1 {
  display: flex;
  justify-content: flex-end;
}
.nav-row1 .navbar {
  height: 80px;
  background-color: #ffffff;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  z-index: 2;
  direction: rtl;
  position: relative;
}
.nav-row1 .navbar .hamburgur {
  margin-right: 10px;
}
.nav-row1 .navbar .title {
  font-size: 24px;
  color: #00a680;
  position: absolute;
  right: 95px;
}
.nav-row1 .navbar .search {
  color: #00a680;
  font-size: 24px;
  margin-left: 23px;
}
.nav-row1 .logo {
  width: 237px;
  height: 192px;
  background-image: url(../images/009_logo_Bg.svg);
  background-position: bottom left;
  background-size: cover;
  direction: rtl;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-row1 .logo .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16%;
}
.nav-row1 .logo .icon img {
  width: 72px;
}
.nav-row1 .logo .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #00a680;
  margin-right: 3%;
}

.car1 {
  min-height: 600px;
  direction: rtl;
}
@media (min-width: 450px) {
  .car1 {
    height: 630px;
  }
}
@media (min-width: 550px) {
  .car1 {
    height: 700px;
  }
}
@media (min-width: 650px) {
  .car1 {
    height: 750px;
  }
}

.car2 {
  min-height: 490px;
  margin-bottom: 80px;
}

.main-wave {
  height: 200px;
  background-image: url(../images/011_bg_wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.ad-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .ad-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ad-section .circles {
  height: 95px;
  direction: rtl;
  overflow: auto;
  white-space: nowrap;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 580px) {
  .ad-section .circles {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .ad-section .circles {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/aaaa.png);
    background-size: contain;
    background-position: center center;
  }
}
.ad-section .circles .circle {
  display: inline-block;
  text-align: center;
  padding: 15px;
  font-size: 40px;
  min-width: 72px;
  height: 72px;
  margin: 8px;
  border: 1px solid #00a680;
  border-radius: 50%;
  color: #00a680;
  position: relative;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .ad-section .circles .circle {
    display: block;
    margin: 20px auto;
  }
}
.ad-section .circles .circle.icon-icon_fly {
  background: linear-gradient(to top, #f46739, #ff9f81);
  color: #ffffff;
  border: none;
}
.ad-section .phone {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .ad-section .phone img {
    width: 350px;
  }
}
.ad-section .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  direction: rtl;
  text-align: center;
}
@media (min-width: 768px) {
  .ad-section .texts {
    height: 550px;
  }
}
.ad-section .texts .title {
  color: #00a680;
  font-size: 28px;
}
.ad-section .texts .paragraph {
  text-align: justify;
  margin-top: 25px;
}

@media (min-width: 850px) {
  .download {
    background-image: url(../images/019_dlbox_Bg.jpg);
    background-size: cover;
    background-position: center center;
  }
}
.download .wrapper {
  width: 90%;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 70px;
}
@media (min-width: 850px) {
  .download .wrapper {
    height: 300px;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
  }
}
@media (min-width: 1170px) {
  .download .wrapper {
    width: 1170px;
  }
}
.download .wrapper .dl {
  width: 100px;
}
@media (min-width: 850px) {
  .download .wrapper .dl {
    position: absolute;
    right: 60px;
    top: 75px;
  }
}
.download .wrapper .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 850px) {
  .download .wrapper .contact {
    align-self: center;
  }
}
.download .wrapper .contact .title {
  font-size: 24px;
  color: #00a680;
  margin: 18px;
}
.download .wrapper .contact .text {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}
.download .wrapper .contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 850px) {
  .download .wrapper .contact .form {
    display: block;
    direction: rtl;
  }
}
.download .wrapper .contact .form input {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  font-size: 24px;
  color: #616161;
  padding: 10px;
  margin-top: 24px;
}
.download .wrapper .contact .form input:focus {
  outline: none;
}
.download .wrapper .contact .form .btn-orange {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  margin-top: 21px;
  margin-bottom: 40px;
}
@media (min-width: 850px) {
  .download .wrapper .contact .form .btn-orange {
    position: relative;
    right: -55px;
    top: 9px;
  }
}
.download .wrapper .contact .greens {
  display: flex;
  flex-direction: column;
}
@media (min-width: 850px) {
  .download .wrapper .contact .greens {
    flex-direction: row;
    position: relative;
    bottom: -33px;
  }
}
.download .wrapper .contact .greens .btn-green {
  margin: 15px;
}

.trip {
  margin-top: 50px;
  background: url(../images/023_amadegisafar.jpg);
  background-image: url(../images/022_bg_amadegisafar.svg) 0.3;
}
.trip .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.trip .wrapper .title {
  font-size: 30px;
  margin-bottom: 30px;
}
.trip .wrapper .texts {
  text-align: justify;
}

.hamburgur-menu {
  background-color: rgba(0, 166, 128, 0.5);
  position: fixed;
  top: 80px;
  right: -120vw;
  transition: right ease-in-out 0.3s;
}
.hamburgur-menu-link {
  color: #333333;
}

.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 166, 128, 0.5);
  position: fixed;
  top: 80px;
  left: -120vw;
  transition: left ease-in-out 0.3s;
}
.search-box input {
  width: 80%;
  font-size: 25px;
  direction: rtl;
  border: none;
}
.search-box input::placeholder {
  color: rgba(51, 51, 51, 0.3);
}

.hamburgur-checkbox:checked ~ .hamburgur-menu {
  right: 0;
}

.search-checkbox:checked ~ .search-box {
  left: 0;
}

.hamburgur-checkbox:checked ~ .hamburgur .menu-line-1 {
  transform: rotateZ(-40deg);
}

.hamburgur-checkbox:checked ~ .hamburgur .menu-line-2 {
  opacity: 0;
  transform: translateX(-30px);
}

.hamburgur-checkbox:checked ~ .hamburgur .menu-line-3 {
  transform: rotateZ(40deg);
}

.nav-row2 {
  width: 100vw;
  display: flex;
  direction: rtl;
  background-image: url(../images/010_header_wave.png);
  background-repeat: no-repeat;
  background-size: 20%;
  justify-content: center;
}
.nav-row2 .logo {
  width: 406px;
  height: 219px;
  background-image: url(../images/009_logo_Bg.svg);
  background-position: bottom left;
  background-size: cover;
  direction: rtl;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 36px;
}
.nav-row2 .logo .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
}
.nav-row2 .logo .icon img {
  width: 72px;
}
.nav-row2 .logo .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #00a680;
  margin-right: 3%;
  padding-top: 46px;
}
.nav-row2 nav {
  width: 800px;
  display: flex;
  justify-content: center;
}
.nav-row2 nav .menu {
  margin-top: 25px;
  display: flex;
  font-size: 16px;
}
.nav-row2 nav .menu-item {
  text-align: center;
  line-height: -111px;
}
.nav-row2 nav .menu-link {
  font-size: 16px;
  color: #333333;
}
@media (max-width: 1050px) {
  .nav-row2 nav .menu-link {
    font-size: 10px;
  }
}
@media (max-width: 846px) {
  .nav-row2 nav .menu-link {
    font-size: 8px;
  }
}
@media (max-width: 774px) {
  .nav-row2 nav .menu-link {
    font-size: 7px;
  }
}
.nav-row2 nav button {
  margin-top: 37px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .nav-row2 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
