.nav-row2 {
  width: 100vw;
  display: flex;
  direction: rtl;
  background-image: url(../images/010_header_wave.png);
  background-repeat: no-repeat;
  background-size: 20%;

  .logo {
    width: 406px;
    height: 219px;
    background-image: url(../images/009_logo_Bg.svg);
    background-position: bottom left;
    background-size: cover;
    direction: rtl;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 36px;

    .icon {
      @include flex-center;
      padding-top: 21px;

      img {
        width: 72px;
      }
    }

    .title {
      @include flex-center;
      font-size: 24px;
      color: $c-primary;
      margin-right: 3%;
      padding-top: 46px;
    }
  }

  nav {
    width: 800px;
    display: flex;
    justify-content: center;

    .menu {
      margin-top: 25px;
      display: flex;
      font-size: 16px;

      &-item {
        text-align: center;
        line-height: -111px;
      }

      &-link {
        font-size: 16px;
        color: $c-tertiary;

        @media (max-width: 1042px) {
          font-size: 10px;
        }

        @media (max-width: 842px) {
          font-size: 8px;
        }
      }
    }

    button {
      margin-top: 37px;
      margin-right: 10px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
