.hamburgur-menu {
  top: 80px;
  right: -120vw;
  transition: right ease-in-out 0.3s;

  button {
    width: 120px;
    height: 40px;
  }
}

.search-box {
  top: 80px;
  left: -120vw;
  transition: left ease-in-out 0.3s;

  input::placeholder {
    color: rgba($c-tertiary, $alpha: 0.3);
    font-size: 16px;
    text-align: right;
  }
}

.hamburgur-checkbox:checked ~ .hamburgur-menu {
  right: 0;
}
.search-checkbox:checked ~ .search-box {
  left: 0;
}
.hamburgur-checkbox:checked ~ .hamburgur .menu-line-1 {
  transform: rotateZ(-40deg);
}
.hamburgur-checkbox:checked ~ .hamburgur .menu-line-2 {
  opacity: 0;
  transform: translateX(-30px);
}
.hamburgur-checkbox:checked ~ .hamburgur .menu-line-3 {
  transform: rotateZ(40deg);
}
