.container-fluid {
  font-family: $shabnam;
  padding-left: 0;
}

.nav-row1 {
  display: flex;
  justify-content: flex-end;

  .navbar {
    height: 80px;
    background-color: #ffffff;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    z-index: 2;
    direction: rtl;
    position: relative;

    .hamburgur {
      margin-right: 10px;
    }

    .title {
      font-size: 24px;
      color: $c-primary;
      position: absolute;
      right: 95px;
    }

    .search {
      color: $c-primary;
      font-size: 24px;
      margin-left: 23px;
    }
  }

  .logo {
    width: 237px;
    height: 192px;
    background-image: url(../images/009_logo_Bg.svg);
    background-position: bottom left;
    background-size: cover;
    direction: rtl;
    background-repeat: no-repeat;
    @include flex-center;

    .icon {
      @include flex-center;
      margin-right: 16%;

      img {
        width: 72px;
      }
    }

    .title {
      @include flex-center;
      font-size: 24px;
      color: $c-primary;
      margin-right: 3%;
    }
  }
}

// carousel
.car1 {
  min-height: 600px;
  direction: rtl;

  @media (min-width: 450px) {
    height: 630px;
  }
  @media (min-width: 550px) {
    height: 700px;
  }
  @media (min-width: 650px) {
    height: 750px;
  }
}

.car2 {
  min-height: 490px;
  margin-bottom: 80px;
}

// main wave
.main-wave {
  height: 200px;
  background-image: url(../images/011_bg_wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

// ads section
.ad-section {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circles {
    height: 95px;
    direction: rtl;
    overflow: auto;
    white-space: nowrap;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: 580px) {
      display: flex;
      justify-content: center;
    }

    @media (min-width: 768px) {
      height: auto;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../images/aaaa.png);
      background-size: contain;
      background-position: center center;
    }

    .circle {
      display: inline-block;
      text-align: center;
      padding: 15px;
      font-size: 40px;
      min-width: 72px;
      height: 72px;
      margin: 8px;
      border: 1px solid $c-primary;
      border-radius: 50%;
      color: $c-primary;
      position: relative;
      background-color: #ffffff;

      @media (min-width: 768px) {
        display: block;
        margin: 20px auto;
      }

      &.icon-icon_fly {
        background: linear-gradient(to top, #f46739, #ff9f81);
        color: #ffffff;
        border: none;
      }
    }
  }

  .phone {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @media (min-width: 1200px) {
      img {
        width: 350px;
      }
    }
  }

  .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    direction: rtl;
    text-align: center;

    @media (min-width: 768px) {
      height: 550px;
    }

    .title {
      color: $c-primary;
      font-size: 28px;
    }

    .paragraph {
      text-align: justify;
      margin-top: 25px;
    }
  }
}

// download section
.download {
  @media (min-width: 850px) {
    background-image: url(../images/019_dlbox_Bg.jpg);
    background-size: cover;
    background-position: center center;
  }

  .wrapper {
    width: 90%;
    box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 70px;

    @media (min-width: 850px) {
      height: 300px;
      flex-direction: row-reverse;
      justify-content: center;
      position: relative;
    }

    @media (min-width: 1170px) {
      width: 1170px;
    }

    .dl {
      width: 100px;

      @media (min-width: 850px) {
        position: absolute;
        right: 60px;
        top: 75px;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 850px) {
        align-self: center;
      }
      .title {
        font-size: 24px;
        color: $c-primary;
        margin: 18px;
      }

      .text {
        line-height: 1.5;
        font-size: 16px;
        text-align: center;
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 850px) {
          display: block;
          direction: rtl;
        }

        input {
          width: 290px;
          height: 50px;
          border-radius: 25px;
          border: solid 1px #eeeeee;
          background-color: #fafafa;
          font-size: 24px;
          color: #616161;
          padding: 10px;
          margin-top: 24px;

          &:focus {
            outline: none;
          }
        }

        .btn-orange {
          width: 140px;
          height: 50px;
          border-radius: 25px;
          margin-top: 21px;
          margin-bottom: 40px;

          @media (min-width: 850px) {
            position: relative;
            right: -55px;
            top: 9px;
          }
        }
      }

      .greens {
        display: flex;
        flex-direction: column;

        @media (min-width: 850px) {
          flex-direction: row;
          position: relative;
          bottom: -33px;
        }

        .btn-green {
          margin: 15px;
        }
      }
    }
  }
}

// trip section
.trip {
  margin-top: 70px;
  background: url(../images/023_amadegisafar.jpg), linear-gradient(to top, $c-primary, $c-primary);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (min-width: 900px) {
    height: 300px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    .texts {
      text-align: justify;
      direction: rtl;
      max-width: 900px;
      font-size: 16px;
    }

    button {
      margin-top: 30px;
      width: 160px;
      height: 50px;
      font-size: 16px;
      border-radius: 25px;
      @media (min-width: 900px) {
        position: absolute;
        bottom: -25px;
      }
    }
  }
}

// idea section
.idea {
  padding: 30px;
  margin-top: 75px;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 24px;
    color: $c-primary;
    margin: 18px;
  }

  .text {
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    max-width: 900px;
  }
}
