.container-fluid {
  font-family: $shabnam;
}

.nav-row1 {
  display: flex;
  justify-content: flex-end;

  .navbar {
    height: 80px;
    background-color: #ffffff;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    z-index: 2;
    direction: rtl;
    position: relative;

    .hamburgur {
      margin-right: 10px;
    }

    .title {
      font-size: 24px;
      color: $c-primary;
      position: absolute;
      right: 95px;
    }

    .search {
      color: $c-primary;
      font-size: 24px;
      margin-left: 23px;
    }
  }

  .logo {
    width: 237px;
    height: 192px;
    background-image: url(../images/009_logo_Bg.svg);
    background-position: bottom left;
    background-size: cover;
    direction: rtl;
    background-repeat: no-repeat;
    @include flex-center;

    .icon {
      @include flex-center;
      margin-right: 16%;

      img {
        width: 72px;
      }
    }

    .title {
      @include flex-center;
      font-size: 24px;
      color: $c-primary;
      margin-right: 3%;
    }
  }
}
